<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <div class="centered">
    <h1>Oops, something went wrong...</h1>
    <p>⛑ 🚧 We are working to fix this problem as soon as possible 🚧 ⛑</p>
  </div>  

<%- include('includes/end.ejs') %>